/projetos/capitulo01/OlaMundoWeb/nbproject/private/
/projetos/capitulo02/PrimeiroFormulario/nbproject/private/
/projetos/capitulo02/PrimeiroFormulario/build/
/projetos/capitulo03/UsandoELeTagLibs/nbproject/private/
/projetos/capitulo03/UsandoELeTagLibs/build/
/projetos/capitulo04/PadroesEmPratica/nbproject/private/
/projetos/capitulo04/PadroesEmPratica/build/
/projetos/capitulo05/CadastroClientes/nbproject/private/
/projetos/capitulo05/CadastroClientes/build/
/projetos/capitulo05/CadastroClientes/dist/
/projetos/capitulo05/OlaMundoWeb/nbproject/private/
/projetos/capitulo01/OlaMundoWeb/build/
/projetos/capitulo01/OlaMundoWeb/dist/
/projetos/capitulo07/ExemplosEmJavaScript/nbproject/private/
/projetos/capitulo07/ExemplosEmJavaScript/build/
/projetos/capitulo07/ExemplosEmJavaScript/dist/
/projetos/capitulo08/VendaProdutos/build/
/projetos/capitulo08/VendaProdutos/dist/
/*.pdf
/*.aux
/*.bak
/*.bbl
/*.blg
/*.brf
/*.def
/*.equ
/*.exp
/*.gz
/*.gz(busy)
/*.idx
/*.ilg
/*.lis
/*.listing
/*.lof
/*.log
/*.loq
/*.lot
/*.out
/*.sav
/*.sigla
/*.siglax
/*.stf
/*.symbols
/*.symbolsx
/*.synctex
/*.toc
/*.xwm
/projetos/capitulo01/OlaMundoWebX/nbproject/private/
