<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Excluir Cidade</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>  
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>

    <h1>Excluir Cidade</h1>

    <form action="#"
          th:action="@{/cidades/excluir/{id}(id=${cidade.id})}"
          th:object="${cidade}"
          method="post">
      <div th:replace="~{formularios/cidades/componentes :: exclusao}"></div>
    </form>

    <div th:replace="~{fragmentos/rodape :: rodape}"></div>

  </body>

</html>