<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Cidades Cadastradas</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>  
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>


    <div th:if="${cidades.empty}">
      <h2>Não há cidades cadastradas</h2>
      <a th:href="@{/cidades/prepararInsercao}">
        Nova Cidade
      </a>
    </div>


    <div th:if="${!cidades.empty}">

      <h2>Cidades Cadastradas</h2>

      <p>
        <a th:href="@{/cidades/prepararInsercao}">
          Nova Cidade
        </a>
      </p>

      <table class="tabelaListagem">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Alterar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cidade : ${cidades}">
            <td th:text="${cidade.id}"></td>
            <td th:text="${cidade.nome}"></td>
            <td th:text="${cidade.estado.sigla}"></td>
            <td>
              <a th:href="@{/cidades/prepararAlteracao/{id}(id=${cidade.id})}">
                Alterar
              </a>
            </td>
            <td>
              <a th:href="@{/cidades/prepararExclusao/{id}(id=${cidade.id})}">
                Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a th:href="@{/cidades/prepararInsercao}">
          Nova Cidade
        </a>
      </p>

    </div>

    <div th:replace="~{fragmentos/rodape :: rodape}"></div>

  </body>

</html>