<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title></title>
    <meta charset="UTF-8"/>
  </head>

  <body>

    <div th:fragment="css" th:remove="tag">
      <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
    </div>

    <div th:fragment="js" th:remove="tag">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"
              integrity="sha512-Ou4M+sSU8oa+mE3juYqR3JmW633MUpMhe1cd+IusOtfjkMo8I3zXs4fRmjmCFqpRg5RK/geqoXBY8XRwFY2Rsg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
    </div>

  </body>

</html>