<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Excluir Fornecedor</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>  
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>

    <h2>Excluir Fornecedor</h2>

    <form action="#"
          th:action="@{/fornecedores/excluir/{id}(id=${fornecedor.id})}"
          th:object="${fornecedor}"
          method="post">
      <div th:replace="~{formularios/fornecedores/componentes :: exclusao}"></div>
    </form>

    <div th:replace="~{fragmentos/rodape :: rodape}"></div>

  </body>

</html>