<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Produtos Cadastrados</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>  
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>


    <div th:if="${produtos.empty}">
      <h2>Não há produtos cadastrados</h2>
      <a th:href="@{/produtos/prepararInsercao}">
        Novo Produto
      </a>
    </div>


    <div th:if="${!produtos.empty}">

      <h2>Produtos Cadastrados</h2>

      <p>
        <a th:href="@{/produtos/prepararInsercao}">
          Novo Produto
        </a>
      </p>

      <table class="tabelaListagem">
        <thead>
          <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Valor de Venda</th>
            <th>Estoque</th>
            <th>Fornecedor</th>
            <th>Unidade de Medida</th>
            <th>Alterar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="produto : ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.valorVenda, 1, 2, 'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(produto.estoque, 1, 2, 'COMMA')}"></td>
            <td th:text="${produto.fornecedor.razaoSocial}"></td>
            <td th:text="${produto.unidadeMedida.sigla}"></td>
            <td>
              <a th:href="@{/produtos/prepararAlteracao/{id}(id=${produto.id})}">
                Alterar
              </a>
            </td>
            <td>
              <a th:href="@{/produtos/prepararExclusao/{id}(id=${produto.id})}">
                Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a th:href="@{/produtos/prepararInsercao}">
          Novo Produto
        </a>
      </p>

    </div>

    <div th:replace="~{fragmentos/rodape :: rodape}"></div>

  </body>

</html>