<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title></title>
    <meta charset="UTF-8"/>
  </head>

  <body>

    <div th:fragment="insercaoAlteracao" th:remove="tag">

      <table>
        <tr>
          <td class="alinharDireita">
            <label for="nome">Nome: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{nome}" 
                   id="nome" 
                   placeholder="Nome"
                   size="20"
                   maxlength="45"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('nome')}" 
              th:errors="*{nome}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="sobrenome">Sobrenome: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{sobrenome}" 
                   id="sobrenome" 
                   placeholder="Sobrenome"
                   size="20"
                   maxlength="45"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('sobrenome')}" 
              th:errors="*{sobrenome}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="dataNascimento">Data de Nascimento: </label>
          </td>
          <td>
            <input type="date" 
                   th:field="*{dataNascimento}" 
                   id="dataNascimento" 
                   placeholder="dd/mm/aaaa"
                   size="8"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('dataNascimento')}" 
              th:errors="*{dataNascimento}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="cpf">CPF: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{cpf}" 
                   id="cpf" 
                   size="13"
                   pattern="\d{3}.\d{3}.\d{3}-\d{2}"
                   placeholder="999.999.999-99"
                   required="required"/>
          </td>
          <td>
            <small th:if="${#fields.hasErrors('cpf')}" 
                   th:errors="*{cpf}"
                   class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="email">E-mail: </label>
          </td>
          <td>
            <input type="email" 
                   th:field="*{email}" 
                   id="email"
                   size="20"
                   minlength="3"
                   maxlength="60"
                   placeholder="email@dominio"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('email')}" 
              th:errors="*{email}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="logradouro">Logradouro: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{logradouro}" 
                   id="logradouro" 
                   placeholder="Logradouro"
                   size="25"
                   maxlength="50"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('logradouro')}" 
              th:errors="*{logradouro}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="numero">Número: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{numero}" 
                   id="numero" 
                   placeholder="Número"
                   size="6"
                   maxlength="6"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('numero')}" 
              th:errors="*{numero}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="bairro">Bairro: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{bairro}" 
                   id="bairro" 
                   placeholder="Bairro"
                   size="15"
                   maxlength="30"
                   required="required"/>
          </td>
          <td>
            <small 
              th:if="${#fields.hasErrors('bairro')}" 
              th:errors="*{bairro}"
              class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="cep">CEP: </label>
          </td>
          <td>
            <input type="text" 
                   th:field="*{cep}" 
                   id="cep" 
                   size="7"
                   pattern="\d{5}-\d{3}"
                   placeholder="99999-999"
                   required="required"/>
          </td>
          <td>
            <small th:if="${#fields.hasErrors('cep')}" 
                   th:errors="*{cep}"
                   class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="cidade">Cidade: </label>
          </td>
          <td>
            <select th:field="*{cidade}" id="cidade">
              <option value="">Selecione uma Cidade</option>
              <option th:each="cidade : ${cidades}" 
                      th:value="${cidade.id}" 
                      th:text="${cidade.nome}"/>
            </select>
          </td>
          <td>
            <small th:if="${#fields.hasErrors('cidade')}" 
                   th:errors="*{cidade}"
                   class="erroFormulario"/>
          </td>
        </tr>
        <tr>
          <td>
            <a th:href="@{/clientes/listar}">Voltar</a>
          </td>
          <td class="alinharDireita">
            <input type="submit" value="Salvar"/>
          </td>
          <td></td>
        </tr>
      </table>

    </div>


    <div th:fragment="exclusao" th:remove="tag">

      <table>
        <tr>
          <td class="alinharDireita">
            <label for="nome">Nome: </label>
          </td>
          <td>
            <span th:text="*{nome}" 
                  id="nome"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="sobrenome">Sobrenome: </label>
          </td>
          <td>
            <span th:text="*{sobrenome}" 
                  id="sobrenome"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="dataNascimento">Data de Nascimento: </label>
          </td>
          <td>
            <span th:text="*{#temporals.format(dataNascimento, 'dd/MM/yyyy')}" 
                  id="valorVenda"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="cpf">CPF: </label>
          </td>
          <td>
            <span th:text="*{cpf}" 
                  id="cpf"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="email">E-mail </label>
          </td>
          <td>
            <span th:text="*{email}" 
                  id="email"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="logradouro">Logradouro: </label>
          </td>
          <td>
            <span th:text="*{logradouro}" 
                  id="logradouro"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="numero">Número: </label>
          </td>
          <td>
            <span th:text="*{numero}" 
                  id="numero"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="bairro">Bairro: </label>
          </td>
          <td>
            <span th:text="*{bairro}" 
                  id="bairro"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="cep">CEP: </label>
          </td>
          <td>
            <span th:text="*{cep}" 
                  id="cep"/>
          </td>
        </tr>
        <tr>
          <td class="alinharDireita">
            <label for="cidade">Cidade: </label>
          </td>
          <td>
            <span th:text="*{cidade.nome}" 
                  id="cidade"/>
          </td>
        </tr>
        <tr>
          <td>
            <a th:href="@{/clientes/listar}">Voltar</a>
          </td>
          <td class="alinharDireita">
            <input type="submit" value="Excluir"/>
          </td>
        </tr>
      </table>

    </div>

  </body>

</html>