<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Vendas Cadastradas</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>
    <script th:src="@{/js/formularios/vendas/listagem.js}"></script>
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>


    <div th:if="${vendas.empty}">
      <h2>Não há vendas cadastradas</h2>
      <a th:href="@{/vendas/prepararInsercao}">
        Nova Venda
      </a>
    </div>


    <div th:if="${!vendas.empty}">

      <h2>Vendas Cadastradas</h2>

      <p>
        <a th:href="@{/vendas/prepararInsercao}">
          Nova Venda
        </a>
      </p>

      <table class="tabelaListagem">
        <thead>
          <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Cancelar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="venda : ${vendas}">
            <td th:text="${venda.id}"></td>
            <td th:text="${#temporals.format(venda.data, 'dd/MM/yyyy')}"></td>
            <td th:text="${venda.cliente.nome} + ' ' + ${venda.cliente.sobrenome}"></td>
            <td>
              <a th:if="${!venda.cancelada}" 
                 th:href="@{/vendas/cancelar/{id}(id=${venda.id})}"
                 onclick="cancelarVenda(event)">
                Cancelar
              </a>
              <span th:if="${venda.cancelada}">
                Cancelada
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a th:href="@{/vendas/prepararInsercao}">
          Nova Venda
        </a>
      </p>

    </div>

    <div th:replace="~{fragmentos/rodape :: rodape}"></div>

  </body>

</html>