<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title></title>
    <meta charset="UTF-8"/>
  </head>

  <body>

    <div th:fragment="cabecalho" th:remove="tag">

      <div>
        <h1>Sistema de Venda de Produtos Usando Spring Boot</h1>
      </div>

      <div>
        <a th:href="@{/vendas/listar}">Vendas</a> |
        <a th:href="@{/clientes/listar}">Clientes</a> |
        <a th:href="@{/fornecedores/listar}">Fornecedores</a> |
        <a th:href="@{/produtos/listar}">Produtos</a> |
        <a th:href="@{/cidades/listar}">Cidades</a> |
        <a th:href="@{/estados/listar}">Estados</a> |
        <a th:href="@{/unidadesMedida/listar}">Unidades de Medida</a>
      </div>

      <hr/>

    </div>

  </body>

</html>