<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Erro...</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>  
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>

    <div id="divErroInterno">

      <h2 class="titulo">Ops... algo de errado aconteceu...</h2>

      Durante a execução de alguma operação, o sistema gerou algum erro interno.
      As causas mais comuns envolvem a tentativa de remoção/exclusão de dados
      que estão associados a outros dados, por exemplo, remover um estado que já
      foi associado à alguma cidade. O detalhamento do que aconteceu pode ser
      visto abaixo. Para mais detalhes, consulte um admistrador.
      <a th:href="@{/index}">Voltar à Página Inicial</a>

      <p th:if="${path != null}">
        <span class="tipoErro">Caminho: </span><span th:text="${path}"></span>
      </p> 
      <p th:if="${error != null}">
        <span class="tipoErro">Erro: </span><span th:text="${error}"></span>
      </p> 
      <p th:if="${status != null}">
        <span class="tipoErro">Status: </span><span th:text="${status}"></span>
      </p> 
      <p th:if="${message != null}">
        <span class="tipoErro">Mensagem: </span><span th:text="${message}"></span>
      </p> 
      <p th:if="${exception != null}">
        <span class="tipoErro">Exceção: </span><span th:text="${exception}"></span>
      </p> 
      <p th:if="${trace != null}">
        <span class="tipoErro">Traçagem: </span><span th:text="${trace}"></span>
      </p>

    </div>

    <div th:replace="~{fragmentos/rodape :: rodape}"></div>

  </body>

</html>