<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema de Venda de Produtos Usando Spring Boot</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="" rel="" th:replace="~{fragmentos/cssJs :: css}"/>
    <script th:replace="~{fragmentos/cssJs :: js}"></script>  
  </head>

  <body>

    <div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>

    <div id="divBoasVindas">
      <h2>Bem-vindo ao Sistema de Venda de Produtos Usando Spring Boot!</h2>
      <p>
        Utilize o menu acima para navegar entre as telas de cadastro.
      </p>
      <p>Prof. Dr. David Buzatto.</p>
    </div>


  </body>

</html>
